<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Walker Sasser</title>
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Walker Sasser</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/assets/img/IMG-2012.png" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Walker
                        <span class="text-primary">Sasser</span>
                    </h1>
                    <div class="subheading mb-5">
                        Northwest GA · (470) 889-9827 ·
                        <a href="mailto:name@email.com">thewalkersasser@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Of all the things that would describe me as a person and a working professional, I would hope that the top of the list would include my status as a child of God in Christ Jesus. The work of his spirit in my life is at the center of my personality, decision making, character, love, and passions. In light of this, I always strive to be the best I can be at every job I am given in order to honor my savior. Jesus Christ is Lord. Cryptocurrency - Celsian 🌡 - Public Cloud - Husband</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/walker-sasser-ab8113140/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/WalkerSasser"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://www.codewars.com/users/walkersasser"><i class="fab fa-dev"></i></a>
                        <a class="social-icon" href="https://gitlab.com/thewalkersasser"><i class="fab fa-gitlab"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Cloud Engineer</h3>
                            <div class="subheading mb-3">COUNTRY Financial</div>
                            <ul>
                                <li>Researched, presented and developed demos of tools and workflows for infrastructure as code</li>
                                <li>Developed data reconciliation CI/CD project for the IT Asset Management Team</li>                   
                                <li>Performed operational work on VMware Tanzu environments such as patching and tile upgrades</li> 
                                <li>Developed scripts and CI/CD pipelines for Azure ARM Template and Tanzu automation</li>
                                <li>Managed RBAC and developed usage accounting reports for Tanzu and Azure</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2020 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Applecare Advisor</h3>
                            <div class="subheading mb-3">Apple</div>
                            <ul>
                                <li>Troubleshooted and resolved technical issues with Apple products.</li>
                                <li>Supported and instructed customers in order to enrich their experiences with Apple products.</li>                   
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">February 2019 - May 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Site Supervisor</h3>
                            <div class="subheading mb-3">Perfect Game USA</div>
                            <ul>
                                <li>Recorded, updated and maintained player statistics to ensure accuracy</li>
                                <li>Managed employees and helped to administer events</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2017 - May 2020</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Kennesaw State University</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div>Computer Science</div>
                            <p>GPA: 3.67</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2017 - May 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Harrison High School</h3>
                            <div class="subheading mb-3">Honors Tract</div>
                            <p>GPA: 4.125</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2015 - May 2017</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-gitlab"></i></li>
                        <li class="list-inline-item"><i class="fab fa-atlasian"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Functional Teams
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <ul>
                        <li>Reading</li>
                        <li>Cryptocurrency</li>
                        <li>Gaming</li>
                        <li>Exercise</li>
                    </ul>
                   
                    <!-- <p class="mb-0"></p> -->
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Working on AZ-900
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Computer Science Degree
                            <li><a href="https://registrar.kennesaw.edu/cediploma/">Link</a></li>
                            <li>Creds: 21GT-KEFQ-WBRH, NAME: WA</li>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>
